# Email Configuration
SECRET=your-app-password
MAIL=your-email@gmail.com

# Kafka Configuration (подключается к Auth Service Kafka)
KAFKA_PROD=localhost:9092
KAFKA_TOPIC=notifications
GROUPE=notification-group 